---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tutorial de Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about">Sobre Mí</a>
        <a href="/blog">Blog</a>
		<h1>Sobre mí</h1>
        <h2>Mi primera página creada con Astro</h2>
        <p>Soy Adrián González, actualmente desarrollador en Wordpress.</p>
        <p>Empecé a pensar en montar una web con Astro con el objetivo de montar un web blog con buen rendimiento, ya que los editores de Wordpress como Divi o Elementor quitan mucho rendimiento a las webs.</p>
        <p>El objetivo es crear un blog Headless y aprender en el proceso Astro y Tailwind</p>    
    </body>
</html>