---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "Blog";


---
<BaseLayout pageTitle={pageTitle}>
	<p>Esta será la página donde añadiremos el contenido principal del blog.</p>
        <p>Seguramente en el futuro simplemente sea todo el histórico de entradas y la página de inicio es donde saldrán las entradas más importantes</p>
        <ul>
            <li><a href="/posts/entrada-inicial">Mi primera entrada</a></li>
            <li><a href="/posts/post-2">Segundo Post</a></li>
            <li><a href="/posts/post-3">Tercer Post</a></li>
        </ul>
		
</BaseLayout>

