---
import ThemeIcon from "./ThemeIcon.astro"
---
<div class="nav-links">
    <a href="/tutorial-astro">Inicio</a>
    <a href="/tutorial-astro/about/">Sobre mí</a>
    <a href="/tutorial-astro/blog/">Blog</a>
    <a href="/tutorial-astro/tags">Categorías</a>
    <ThemeIcon />
</div>